/* styles */
.form-pending {
    color: rgba(0, 0, 0, 0.541176);
    font-size: 0.85em;
    list-style: none;
}

.form-error {
    color: #F44336;
    font-size: 0.85em;
    list-style: none;
}

/* spacing fixes */
.aftl-select {
    position: relative;
}

.aftl-select-lower {
    bottom: -11px;
}

.aftl-select-higher {
    bottom: 11px;
}

/* inline styles */
.inline-wrapper {
    display: inline;
}

.inline--before {
    display: inline-block;
}

.inline--content {
    display: inline-block;
}

.inline--after {
    display: inline-block;
}

.radio-button__inline {
    display: inline-block;
    margin-right: 10px;
}
